body {
    font-family: Arial;
    text-align: center;
    padding: 40px;
}

textarea {
    width: 60%;
    height: 150px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}